/* Минималистичный стиль, чтобы не отвлекать от JS */
:root {
  --bg-color: #f4f7f6;
  --text-color: #333;
  --h-color: #2c3e50;
  --bg-card-color: white;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  padding: 20px;
}

body.dark-theme {
  --bg-color: #2c3e50;
  --text-color: white;
  --h-color: #3498db;
  --bg-card-color: #17223e;
}

body.dark-theme input,
body.dark-theme select {
  border: 1px solid var(--bg-card-color);
  color: var(--text-color);
}

.theme-btn-container button {
  border-radius: 100%;
} 

.container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--h-color);
}

h3 {
  color: var(--h-color);
}

.card {
  background: var(--bg-card-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  background-color: var(--bg-color);
}

input,
select,
button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.result {
  margin-top: 15px;
  font-weight: bold;
  min-height: 1.2em;
  color: #27ae60; /* Зеленый для успеха */
}

.error {
  color: #e74c3c;
} /* Красный для ошибок */